/*Duck position*/
.duck01 {
	position: absolute;
	top: 400px;
	left: 650px;

}

/*Death position*/
.death01 {
	position: absolute;
	top: 400px;
	left: 50px;

}

/*Foreground (fence) position*/
.foreground {
	position: absolute;
	top: 0px;
	left: 0px;
}

/*Parallax layers beginning position*/
.parallaxtest {
	position: absolute;
	top: -50px;
	left: -50px;
}

/*Tulip position*/
.tulip {
	position: absolute;
	top: 660px;
	left: 900px;
}

/*Font characteristics*/
p {
	position: absolute;
	top: 100px;
	left: 200px;
	font-size: 12pt;
	font-family: Verdana, Arial, Tahoma;
	margin: 10px;
	background: rgb(0, 0, 0, 0.6);
	width: 350px;
	font-color: black;	
}

/*Text hide*/
.hide {
	display: none;
}

/*First animation*/
@-webkit-keyframes anim1 {
	0% {left: 650px;}
	100% {left: 700px;}
	
}

.anim1 {
	-webkit-animation-name: anim1;
	-webkit-animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

/*Second animation*/
@-webkit-keyframes anim2 {
	0% {left: 50px;}
	100% {left: 300px;}
	
}

.anim2 {
	-webkit-animation-name: anim2;
	-webkit-animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

/*Third animation*/
@-webkit-keyframes anim3 {
	0% {left: 700px;}
	100% {left: 750px;}
	
}

.anim3 {
	-webkit-animation-name: anim3;
	-webkit-animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

/*Fourth animation*/
@-webkit-keyframes anim4 {
	0% {left: 300px;}
	100% {left: 400px;}
	
}

.anim4 {
	-webkit-animation-name: anim4;
	-webkit-animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}

/*Fifth animation*/
@-webkit-keyframes anim5 {
	0% {left: 700px;}
	100% {left: 800px;}
	
}

.anim5 {
	-webkit-animation-name: anim5;
	-webkit-animation-duration: 5s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-timing-function: ease-out;
}